{
	"parser": "babel-eslint",
	"extends": "eslint:recommended",
	"globals": {
		"document": true,
		"window": true,
		"setTimeout": true
	},
	"rules": {
		// enable additional rules
		"indent": ["error", "tab"],
		"linebreak-style": ["error", "unix"],
		"quotes": ["error", "double"],
		"semi": ["error", "always"],

		// override default options for rules from base configurations
		"comma-dangle": ["error", "never"],
		"no-cond-assign": ["error", "always"],

		// disable rules from base configurations
		"no-console": "off",
		
		"no-unused-vars": ["error", {"args": "none"}],
		"eqeqeq": 2,
		
		"no-trailing-spaces": [2, { "skipBlankLines": true }],
	}
}
