{
	"parser": "babel-eslint",
	"extends": "eslint:recommended",
	"globals": {
		"document": true,
		"window": true,
		"setTimeout": true,
		"console": true
	},
	"rules": {
		"indent": ["error", "tab", { "SwitchCase": 1 }],
		"linebreak-style": ["error", "unix"],
		"quotes": ["error", "double"],
		"semi": ["error", "always"],
		"comma-dangle": ["error", "never"],
		"no-cond-assign": ["error", "except-parens"],
		"no-console": "off",
		"no-unused-vars": ["error", {"args": "none"}],
		"eqeqeq": 2,
		"no-trailing-spaces": [2, { "skipBlankLines": true }],
		"no-constant-condition": ["error", { "checkLoops": false }]
	}
}
